<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personel_Kayıt_Uygulaması_veritabanlı_.Properties.Settings.PersonelVeriTabanıConnectionString"
            connectionString="Data Source=DESKTOP-9HI19T4\MSSQLSERVER01;Initial Catalog=PersonelVeriTabanı;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>